# IDE
.idea
.vscode

# React
/client/node_modules/
/client/build/
/client/package-lock.json

# Dotenv
.env
.env.*
!.env.example
!.env.j2
!.env.vars.*

# Docker Config
/server/docker/mysql
!/server/docker/mysql/my.cnf
