# IDE
.idea
.vscode

# React
/client/node_modules/
/client/build/
/client/package-lock.json

# Dotenv
.env
.env.*
!.env.example
!.env.j2
!.env.vars.*

# WP-CLI
wp-cli.yml

# Cache
.php_cs.cache


# Wordpress
/server/public/*
!/server/public/wp-content/
/server/public/wp-content/plugins
/server/public/wp-content/uploads
!/server/public/wp-content/themes
/server/public/wp-content/themes/twentytwentyfour
/server/public/wp-content/db.php
/server/public/wp-content/index.php

