# IDE
.idea
.vscode

# React
build
drizzle
!drizzle/
drizzle/*
!drizzle/*.sql
!drizzle/meta/
drizzle/meta/*
!drizzle/meta/*.json
*.tsbuildinfo
.next/

# Dotenv
.env
.env.*
!.env.example
!.env.j2
!.env.vars.*

node_modules
