@import "../../styles/variables/all-variables";
@import "../../styles/abstracts/helpers";

.services {
  overflow: hidden;
  padding: 6rem 0;
  position: relative;


  &__title {
    font-size: map-get($text-sizes, 3xl);
    font-weight: 600;
  }

  &__title-muted {
    color: var(--color-gray);
    font-size: map-get($text-sizes, 9xl);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

  &__title-separator {
    width: 80px;
  }

  &__featured-box {
      display: flex;
      gap: 32px;
  }

  &__featured-box-icon {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
  }

  &__featured-box-content {

  }

}