@import "../../styles/base/placeholders";

.summary {
  @extend %section-layout;

  &__featured-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 220px;
  }

}