@import "src/styles/base/placeholders";
@import "src/styles/variables/font-variables";
@import "src/styles/variables/variables";

.portfolioGallery {

  &__nav-link {
    cursor: pointer;
    &:hover {
      color: var(--bs-primary) !important;
    }
  }

  &__items {
    height: 880px;
    display: grid;
    position: relative;
    gap: 16px;
    grid-template-columns: [first] 33% [line2] 33% [line3] 33% [end];
    grid-template-rows: [row1-start] 30% [row1-end] 20% [row2-start] 30% [row2-end] 20%;
  }

  &__grid-item {
    position: relative;
    padding: 4px;
    border-radius: 8px;
    background-color: var(--color-white);
    text-align: center;

    &:first-child {
      grid-column-start: first;
      grid-column-end: line2;
      grid-row-start: row1-start;
      grid-row-end: row2-end;
    }
    &:nth-child(2) {
      grid-column-start: line2;
      grid-column-end: line3;
      grid-row-start: row1-start;
      grid-row-end: row1-end;
    }
    &:nth-child(3) {
      grid-column-start: line3;
      grid-column-end: end;
      grid-row-start: row1-start;
      grid-row-end: row2-end;
    }
    &:nth-child(4) {
      grid-column-start: line2;
      grid-column-end: line3;
      grid-row-start: row1-end;
      grid-row-end: row2-end;
    }
  }
}